# Python Packages (install inside the venv)

numpy==1.24.2  # Image processing
pillow  # Image library
matplotlib  # For displaying images
opencv-python  # Computer vision
jupyter  # Jupyter notebook
jupyterlab  # JupyterLab
notebook  # Jupyter Notebook
tflite-runtime  # Inference Model

